p.grid-field-css-status{float:left;width:100%;margin:15px 0 0;text-align:right}p.grid-field-css-status span{font-weight:bold}p.grid-field-css-status.error{color:#cc0000}td.css-status span.green{color:#3abd3c}td.css-status span.red{color:#cc0000}td.css-status span span{font-weight:bold}td.css-update-action span{font-weight:bold}
