p.grid-field-css-status {
    float: left;
    width: 100%;
    margin: 15px 0 0;
    text-align: right;

    span {
        font-weight: bold;
    }

    &.error {
        color: #cc0000;
    }
}

td.css-status span {
    &.green {
        color: #3abd3c;
    }

    &.red {
        color: #cc0000;
    }

    span {
        font-weight: bold;
    }
}

td.css-update-action span {
    font-weight: bold;
}
